.red{
width:50px;
height:50px;
border: 3px solid black;
border-radius:50px;
background-color: red;


}

.green{
  width:50px;
  height:50px;
  border: 3px solid black;
  border-radius:50px;
  background-color: green;



}

.orange{

  width:50px;
  height:50px;
  border: 3px solid black;
  border-radius:50px;
  background-color: orange;


}
.off{
opacity:0.3;
}
.robot{
background-color:black;
width:57px;
margin-left:534px;
border-radius: 30px;

}
